<div>
    <h3>Leo Andres</h3>
    <p>
        Leo Andres has a Master's Degree in Global Environmental
	Health from Emory University.  In this course of study,
	he was exposed to environmental issues on various scales,
	ranging from the household to the global environment, and
	how these issues impact human health.  This, combined
	with practical experience in computer programming, allows
	him to influence the vision of the partnership through
	various technical and practical aspects.
    </p>
</div>
